.cardContainer {
  @apply flex flex-col  w-full;
}
.cardTitle {
  @apply text-xl font-semibold;
}
.cardContainerLayoutIcon {
  @apply h-5 w-5 text-neutral-700 mt-1;
}
.cardDetailsForm {
  @apply flex flex-col w-full  gap-y-7;
}
.cardDetailsFormBtnGroup {
  @apply flex justify-end gap-x-2;
}
.cardDetailsFormTitleInput {
  @apply h-7  p-0 text-neutral-700 bg-transparent  w-[90%]
  border-transparent relative  truncate;
}
.cardDetailsFormTitleDesc {
  @apply text-sm text-muted-foreground pl-0.5;
  span {
    text-decoration: underline;
  }
}
.cardDescriptionSector {
  @apply grid grid-cols-1 sm:grid-cols-[1fr_min-content] items-center gap-2 w-full;
}
.cardDescriptionTextarea {
  @apply resize-none bg-neutral-200 font-semibold
  placeholder:text-black placeholder:font-semibold border-none outline-none
  focus:bg-white focus:font-normal focus:placeholder:font-normal;
}
.cardActionsBox {
  @apply flex flex-col gap-y-2 h-full w-min;
}
.cardActionsBtn {
  @apply bg-neutral-200 font-semibold flex justify-start;
}
.cardActionsIcon {
  @apply mr-2 h-4 w-4;
}
